.activity-icon {
  margin: 0 0 0 5px;
  justify-content: center;
  align-self: center;
  max-height: 40%;
  max-width: 30%;
}

.activity {
  display: inline-flex;
}

.acticity-detail-header {
  font-size: 14px;
  margin: 0 0 1px;
}
.acticity-detail {
  align-self: center;
  justify-content: center;
  margin: 0 10px;
}
